#entry {
  border-radius: 6px;
  padding: 2px 6px 2px 6px;
}

#entry:selected {
  background-color: #89b4fa; /* blue */
}

#text:selected {
  color: #1e1e2e; /* base */
}

#window {
  padding: 2px;
  background-color: rgba(30, 30, 46, 0.65); /* base */
  border: 2px solid #f9e2af; /* yellow */
  border-radius: 8pt;
  font-family: 'Inter Nerd Font Propo','FuraCode Nerd Font Mono';
  font-size: 15px;
}

#input {
  border: 2px solid #89b4fa; /* blue */
  background-color: #313244; /* surface0 */
  color: #cdd6f4; /* text */
  padding: 3px 5px 3px 5px;
  border-radius: 6px;
}

#inner-box {
  color: #cdd6f4; /* text */
  padding: 2px;
  background-color: transparent;
}

#outer-box {
  margin: 15px;
  background-color: transparent;
}

#scroll {
  margin-top: 10px;
  background-color: transparent;
  border: none;
}

#text {
  padding: 3px;
  background-color: transparent;
}

#img {
  background-color: transparent;
  padding: 5px;
}